body {
  height: 100vh;
}

h1 {
  color: rgb(27, 32, 27);
  font-family: Nunito, sans-serif;
}
img {
  width: 200px;
  transform: scale(0.5);
}
a {
  z-index: 1;
}
object {
  margin-right: 20px;
  pointer-events: none;
}
