@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  src: local('Nunito'),
        url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff'),
        url('../fonts/Nunito-Regular.ttf'),
        url('../fonts/Nunito-Regular.eot') format('eot');
}
